<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Task</title>
    <link th:href="@{/projectManager.css}" rel="stylesheet">
</head>
<body>
<div class="background">
</div>
<div class="center-box create-box-task">
    <form method="post" th:action="@{'/subProjectDetails/' + ${subProjectId} + '/createTask'}">
        <h2>Create Task</h2>
        <div class="input-box">
            <label for="name">Task Name</label>
            <input type="text" id="name" name="taskName" placeholder="Task Name" required>
        </div>
        <div class="input-box">
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" name="startDate" required>
        </div>
        <div class="input-box">
            <label for="endDate">End Date</label>
            <input type="date" id="endDate" name="endDate" required>
        </div>
        <div class="input-box">
            <label for="estTime">Estimated Time (hours)</label>
            <input type="number" id="estTime" name="estTime" placeholder="Estimated Time" required>
        </div>
        <div class="input-box">
            <label for="status">Status</label>
            <select id="status" name="status" required>
                <option value="Not Started">Not Started</option>
                <option value="In Progress">In Progress</option>
                <option value=">Completed">Completed</option>
            </select>
        </div>
        <input type="submit" value="Create Task"/>
    </form>
</div>

</body>
</html>
