<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Project</title>
    <link th:href="@{/edit.css}" rel="stylesheet">
</head>

<body>

<h1 align="center">Edit Project</h1>

<div>
    <form method="post" th:action="@{/editProject/{projectId}(projectId=${project.project_id})}">

        <label for="projectName">Project name:</label>
        <input id="projectName" type="text" name="projectName" th:value="${project.projectName}">

        <label for="Project_status">Status:</label>
        <select id="Project_status" name="status" th:value="${project.status}" required>
            <option value="Not Started" th:selected="${project.status == 'Not Started'}">Not Started</option>
            <option value="In Progress" th:selected="${project.status == 'In Progress'}">In Progress</option>
            <option value="Completed" th:selected="${project.status == 'Completed'}">Completed</option>
        </select>

        <button class="btn" type="submit">Save</button>

        <a th:href="@{/showProjects/{user_id}(user_id=${userId})}">
            <button type="button" class="btn">Return to projects</button>
        </a>

    </form>

</div>

</body>
</html>
