<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit SubProject</title>
    <link th:href="@{/projectManager.css}" rel="stylesheet">
</head>

<body>
<div class="background">
</div>
<h1 align="center">Edit SubProject</h1>

<div class="center-box create-box">
    <form method="post" th:action="@{/editSubProject/{subProjectId}(subProjectId=${subProjectId})}">
        <div class="input-box">
            <label for="name">Underprojekt navn:</label>
            <input id="name" type="text" name="subProjectName" th:value="${subProject.subProjectName}">
        </div>
        <label for="status">Status:</label>
        <select id="status" name="status" th:value="${subProject.status}" required>
            <option value="Ikke startet" th:selected="${subProject.status == 'Ikke startet'}">Ikke startet</option>
            <option value="I gang" th:selected="${subProject.status == 'I gang'}">I gang</option>
            <option value="Færdig" th:selected="${subProject.status == 'Færdig'}">Færdig</option>
        </select>

        <button class="bn3637 bn37" type="submit">Gem</button>

        <a th:href="@{/projectDetails/{projectId}(projectId=${subProject.projectId})}">
            <button type="button" class="bn37 bn3637">Tilbage til underprojekter</button>
        </a>
    </form>
</div>

</body>
</html>
