<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/projectManager.css}" rel="stylesheet">
</head>
<body>
<div class="background"></div>
<table class="table">
    <thead>
    <tr>
        <th>Project Name</th>
        <th>Status</th>
        <th>Edit/Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projectList}" class="project-row">
        <td>
            <a th:href="@{'/projectDetails/' + ${project.project_id}}">
                <p th:text="${project.projectName}"></p>
            </a>
        </td>
        <td th:text="${project.status}"></td>
        <td>
            <div class="edit-delete-buttons">
                <a th:href="@{'/editProject/' + ${project.project_id}}">
                    <button class="bn37 bn3637">Edit</button>
                </a>
                <a th:href="@{'/deleteProject/' + ${project.project_id}}">
                    <button class="bn37 bn3637"> Delete</button>
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
