<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/projectManager.css}" rel="stylesheet">
</head>
<body>
<div class="background"></div>
<table class="table">
    <thead>
    <tr>
        <th>Project Name</th>
        <th>Number of Subprojects</th>
        <th>Number of Employees</th>
        <th>Status</th>
        <th>Edit/Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projectList}" class="project-row">
        <td>
            <a th:href="@{'/#/' + ${project}}">
                <p th:text="${project.projectName}"></p>
            </a>
        </td>
        <td th:text="${project.subProjectCount}"></td>
        <td th:text="${project.userCount}"></td>
        <td th:text="${project.status}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
