<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/admin.css}" rel="stylesheet">
</head>
<body>
<div class="background">
</div>
<h2>Users:</h2>
<table class="showAll-table">
    <tr>
        <th>Brugernavn</th>
        <th>Adgangskode</th>
        <th>Rolle</th>
    </tr>
    <tr th:each="user : ${userList}" class="user-row">
        <td>
            <p th:text="${user.username}"></p>
        </td>

        <td>
                <p th:text="${user.password}"></p>
        </td>
        <td>
                <p th:text="${user.role}"></p>

        </td>
    </tr>
    <tr>
        <td class="show-all-box">
            <a href="/createUser" th:href="@{/createUser}">
                <button>Opret ny bruger</button>
            </a>
            <a href="/admin" th:href="@{/admin}">
                <button>Tilbage til admin side</button>
            </a>
        </td>
    </tr>
</table>
</body>
</html>
